<body>
  <div class="container mt-5">
    <div class="d-flex justify-content-center row">
      <div class="col-md-8">
        <div class="d-flex flex-column comment-section">
          <div class="bg-white p-2">
            <div class="d-flex flex-row user-info">
              <div class="d-flex flex-column justify-content-start ml-2">
                <span class="d-block font-weight-bold name">
                  {{post_title}}
                </span><span class="date text-black-50"> {{createdAt}}</span>
                ><span class="date text-black-50"> {{blog.username}}</span>
                >
              </div>
            </div>
            <div class="mt-2">
              <p class="comment-text">{{post_contents}}</p>
            </div>
          </div>
          {{!-- {{#if ../logged_in}} --}}
          <div class="bg-white"></div>
          <form class="comment-box">
            <div class="bg-light p-2">
              <div class="d-flex flex-row align-items-start">
                <textarea class="form-control ml-1 shadow-none textarea" id="comment-box"></textarea>
              </div>
              <div class="mt-2 text-right">
                <button id="commentID" data-id="{{id}}" type="submit" class="btn btn-primary btn-sm shadow-none">
                  Post comment
                </button>
              </div>
              {{!-- {{/if}} --}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="/js/post.js"">