<body>
  <div class="d-flex flex-column comment-section">
    <div class="bg-white p-2">
      <div class="d-flex flex-row user-info">
        <div class="d-flex flex-column justify-content-start ml-2">
          <a href="/dashboard/edit/{{user_id}}"><span class="d-block font-weight-bold name">
              {{post_title}}
            </span></a><span class="date text-black-50"> {{createdAt}}</span>
          <span class="date text-black-50"> {{blog.username}}</span>

        </div>
      </div>
      <div class="mt-2">
        <p class="comment-text">{{post_contents}}</p>
      </div>
    </div>
    <div class="bg-white"></div>
    <br>
</body>