<div class="bg-white p-2">
  <div class="d-flex flex-row user-info">
    <div class="d-flex flex-column justify-content-start ml-2">
      <a href="/dashboard/edit/{{user_id}}"><span
          class="d-block font-weight-bold name"
        >
          {{post.post_title}}
        </span></a><span class="date text-black-50">
        {{post.createdAt}}</span>
      <span class="date text-black-50"> {{post.user.username}}</span>
    </div>
  </div>
  <div class="mt-2">
    <p class="comment-text">{{post.post_contents}}</p>
  </div>
  {{log post}}
</div>