

{{!-- Header --}}
<header class="headings">
<h1> The Goss </h1>
<h2 id="bi-line"> We're all friends here, here's what's really on your mind</h2>
<br>
<section id="go-to-dash"> Go to your dashboard to give us the goss</header>
        <a href="/dashboard"><button type="submit" class="margin btn">Dashboard</button></a>
</section>
</header>


{{!-- Each blog post --}}
<div class="container">
  {{#each posts}}
  <div class="box" id="card-container">
    <div class="content">
      <div id="card-title">
      <h5 class=" has-text-centered" id="card-title">{{post_title}}</h5>
      <p id="username">{{user.username}} {{format_date createdAt}} ~ <a id="readLink" href="/post/{{id}}">
        Leave a comment
      </a></p>
      </div>
      <div class="block has-text-centered">
        {{post_contents}}{{comment.length}}
      </div>
    </div>
    <div class="read-more">
      
    </div>
  </div>
  <br>
  {{/each}}
</div>