<div class="columns is-centered mt-6">
  <div class="column is-6">
    <div class="container">
      <div class="box" id="card-container">
        <div class="content">
          <div id="card-title">
            <h5 class=" has-text-centered" id="card-title">{{post.post_title}}</h5>
            <p id="username">{{post.user.username}} {{format_date post.createdAt}} </p>
          </div>
          <div class="block has-text-centered">
            {{post.post_contents}}
          </div>
        </div>
        <div class="read-more">
        </div>
      </div>
      <br>
    </div>

    {{#if post.Comments}}
    {{#each post.Comments}}
    <div id="theComment" class="box">
      <div class="comment-content">
        <p ><strong>{{comment_contents}}</strong></p>
        <p class="comment"> {{user.username}} ~ {{format_date createdAt}}</p>
      </div>
      <div class="content">
      <hr>
      </div>
    </div>
    {{/each}}
    {{/if}}
    {{!-- Post new comment  --}}
    {{#if logged_in}}
    {{log logged_in}}
    <form class="commentInput">
      <div class="bg-light p-2">
        <div class="d-flex flex-row align-items-start">
          <textarea class="form-control ml-1 shadow-none textarea" id="comment-box"></textarea>
        </div>
        <div class="mt-2 text-right">
          <button id="commentID" data-id="{{post.id}}" type="submit" class="btn">
            Post comment
          </button>
        </div>
      </div>
    </form>
    {{/if}}



    {{!-- Comments --}}


  </div>
  </article>
</div>
</div>
</div>

<script src="/js/comments.js"></script>